/* App.css */
body {
  background: transparent;
  margin: 0;
  height: 100%;
  overflow-x: hidden;
}
html {
  min-height: calc(100% + env(safe-area-inset-top));
  padding: env(safe-area-inset-top) env(safe-area-inset-right) env(safe-area-inset-bottom) env(safe-area-inset-left);
  background: linear-gradient(to bottom, #bbdaf8, #ecf2f8);
  height: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* .navbar {
  padding-bottom: 0;
  padding-bottom: env(safe-area-inset-bottom, 0);
}
 */

 