/* App.css */
body {
    background: linear-gradient(to bottom, #bbdaf8, #ecf2f8);
    margin: 0;
    height: 100%;
    overflow-x: hidden;
  }

/* .navbar {
    padding-bottom: 0;
    padding-bottom: env(safe-area-inset-bottom, 0);
}
   */